<template>
    <section>
      <editor/>
    </section>
</template>

<script>
import Editor from './editor/index.vue'


export default {
  name: "Spellchecker",
  components: {
    Editor
  }
}
</script>
