.container {
    min-height: 80vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.component {
    display: inline;
    border: 1px solid orange;
    border-left: 4px solid orange;
    border-radius: 5px;
    background-color: ivory;
    padding: 5px;
    margin-right: 1em;
    color: #263238;
}

.root {
    display: inline;
    font-size: 1em;
    font-family: 'Manjari', 'Meera', sans-serif;
}

.tags {
    display: inline;
}

.tag {
    display: inline;
    background-color: #aed581;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    font-family: monospace
}

.result {
    margin-bottom: 1em;
}