body {
    font-family: 'Manjari', sans-serif;
    background: #e2e1e0;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    padding: 5px 20px;
    background-color: #009688;
    position: sticky;
    top: 0;
    z-index: 10;
}

a, h2 {
    color: #2196f3;
}

.analresult {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
}

.analresult  tr {
    border: 1px solid #efefef;
    transition: all ease 0.2s;
}

.analresult  tr:hover {
    background-color: #eee;
}

.analresult td {
    padding: 5px;
}

h1 {
    font-family: serif;
    font-size: 1.5em;
    color: #fff;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}

h2 {
    font-size: 1.2em;
}

.container {
    margin: 2em;
}

/* Button */

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    background-color: #fff;
    color: #646464;
    margin: 10px 0;
}

.button.blue {
    background-color: #4285f4;
    color: #fff;
}

.button.green {
    background-color: #0f9d58;
    color: #fff;
}

textarea {
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    min-height: 5em;
}

input, select {
    padding: 2px;
    font-size: 1em;
}

section {
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    margin-bottom: 2em;
}

.flash {
    background: #cee5f5;
    padding: .5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: .5em;
}
