*.a
*.g
*.o
*.pdf
*.dot
python/mlmorph/data/*.a
scripts/lexicon/*.json
*.egg-info/
__pycache__/
ENV_DIR
**/node_modules/
.venv
.vscode
.tox
python/build
python/dist
.ruff_cache
.pytest_cache
.tmp
docs/.vitepress/cache
docs/.vitepress/dist