image: "ubuntu:latest"

build:
  stage: build
  before_script:
    - apt-get update -y
    - apt-get install -y make sfst hfst python3-pip
  script:
    - make
  artifacts:
    paths:
    - malayalam.a
    - python/dist/

test:
  stage: test
  before_script:
    - apt-get update -y
    - apt-get install -y make sfst hfst locales python3-pip
    - locale-gen ml_IN.UTF-8
  script:
    - LC_ALL=ml_IN.UTF-8 make test
  dependencies:
    - build