<!doctype html>
<html lang="ml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>Malayalam morphological analyser</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav class="teal lighten-2">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Malayalam morphological analyser</a>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	</div>
	<footer class="page-footer teal lighten-2">
		<div class="footer-copyright teal lighten-2>
			<a class=" grey-text text-lighten-4 right " href="https://github.com/santhoshtr/mlmorph ">Malayalam morphological analyser</a>
		</div>
	</footer>
</body>