<!doctype html>
<html lang="ml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>Malayalam morphological analyser</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='MorphemeChips.js') }}"></script>

</head>

<body>
	<header>
		<nav class="teal lighten-2">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Malayalam morphological analyser</a>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	</div>
	<footer class="page-footer teal lighten-2">
		<div class="footer-copyright teal lighten-2">
			<p> A project by Santhosh Thottingal. Source code: <a class="grey-text text-lighten-4 right" href="https://gitlab.com/smc/mlmorph">gitlab.com/smc/mlmorph</a>
			</p>
		</div>
	</footer>
</body>
