{% extends 'layout.html' %} {% block body %} {% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<section class='section analyse row'>
		<h5>Analysis</h5>
		<div class="input-field col s12">
			<textarea id="text_to_analyse" placeholder='Text to analyse' class="materialize-textarea" name="text">{% if text %}{{text}}{% endif %}</textarea>
			<label for="text_to_analyse">Text to analyse</label>
			<a id='analyse' class="waves-effect waves-light btn">Analyse</a>
		</div>
		<table class='analresult highlight col s6'>
			<thead>
				<tr>
					<th>Word</th>
					<th>Analysis</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</section>
	<div class="divider"></div>
	<section class='section generate row'>
		<h5>Generation</h5>
		<div class="input-field col s4">
			<input type=text id="rootword" name=word placeholder='Root word' value='{% if word %}{{word}}{% endif %}' />
			<label for="rootword">Root word</label>
		</div>
		<div class="input-field col s4">
			<select name=type>
            <option value='n'>നാമം Noun</option>
            <option value='np'>സംജ്ഞാനാമം Proper Noun</option>
            <option value='prn'>സർവനാമം Pronoun</option>
            <option value='v'>ക്രിയ Verb</option>
            <option value='adj'>നാമവിശേഷണം Adjective</option>
            <option value='adv'>ക്രിയാവിശേഷണം Adverb</option>
        </select>
			<label>Word type</label>
		</div>
		<div class="input-field col s4">
			<select name=infl>
            <option value='pl'>ബഹുവചനം Plural </option>
            <option value='accusative'>പ്രതിഗ്രാഹിക Accusative</option>
            <option value='dative'>ഉദ്ദേശിക Dative</option>
            <option value='genitive'>സംബന്ധിക Genitive</option>
            <option value='instrumental'>പ്രയോജിക Instrumental</option>
            <option value='locative'>ആധാരിക Locative</option>
            <option value='sociative'>സംയോജിക Sociative</option>
            <option value='vocative'>സംബോധിക Vocative</option>
        </select>
			<label>Inflection</label>
		</div>
		<a id='generate' class="waves-effect waves-light btn">Generate</a>
		<div class="genresult col s12"></div>
	</section>
	{% endblock %}
