{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	 <section class="analyse">
  <h2>Analysis</h1>
  <form action="{{ url_for('analyse') }}" method=post>
    <dl>
      <dd><textarea placeholder='Text to analyse' name=text>{% if text %}{{text}}{% endif %}</textarea>
      <dd><button type=submit class="blue button" >Analyse</button>
    </dl>
  </form>
  {% if analyse_results %}
  <div class=result>
	  {% for anal in analyse_results %}
      	<span class="anal segment">{{ anal }}</span>
       {% endfor %}</div>
  {% endif %}
  </section>
   <section class="generate">
  <h2>Generation</h1>
    <dl>
      <dd>
        <input type=text name=word placeholder="Root word" value="{% if word %}{{word}}{% endif %}">
        <select name=type>
            <option value='n'>നാമം Noun</option>
            <option value='v'>ക്രിയ Verb</option>
            <option value='v'>നാമവിശേഷണം Adjective</option>
            <option value='v'>ക്രിയാവിശേഷണം Adverb</option>
        </select>
        <select name=infl>
            <option value=''>Select Inflection</option>
            <option value='pl'>ബഹുവചനം Plural </option>
            <option value='accusative'>പ്രതിഗ്രാഹിക Accusative</option>
            <option value='dative'>ഉദ്ദേശിക Dative</option>
            <option value='genitive'>സംബന്ധിക Genitive</option>
            <option value='instrumental'>പ്രയോജിക Instrumental</option>
            <option value='locative'>ആധാരിക Locative</option>
            <option value='sociative'>സംയോജിക Sociative</option>
            <option value='vocative'>സംബോധിക Vocative</option>
        </select>
      <dd><button type=submit id=generate class="blue button">Generate</button>
    </dl>

  <div class=genresult></div>
 </section>
{% endblock %}
