@import url("https://smc.org.in/fonts/manjari.css");

:root {
    --c-brand: #3451b2;
    --c-brand-light: #f0f8ff;
    --vp-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Manjari, sans-serif;
    --vp-font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', Manjari, monospace;
}

.custom-block.example {
    background-color: var(--c-white);
    border-color: #3451b2;
    overflow-x: auto;
}


.custom-block.example ul {
    list-style-type: circle;
}

.custom-block.rule {
    margin-top: 2rem;
    border-top: 1px solid var(--c-brand);
    background-color: #646cff24;
    color: #3451b2;
}

.custom-block.rule::before {
    content: "🖝";
    position: absolute;
    left: -1.5em;
    font-size: 2em;
}
