<VirtualHost *:80>
    ServerName mydomain
    WSGIDaemonProcess mlmorph user=www-data group=www-data threads=5
    WSGIScriptAlias /mlmorph /home/user/path/to/mlmorph/web/mlmorph.wsgi
    <Directory /home/user/path/to/mlmorph/web/>
        WSGIProcessGroup mlmorph
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>
     ErrorLog ${APACHE_LOG_DIR}/error-mlmorph.log
     CustomLog ${APACHE_LOG_DIR}/access-mlmorh.log combined
</VirtualHost>
